# Begin node.js defaults
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# End node.js defaults

# Begin application ignores

config.js
*.swo
*.swp
.fuse_hidden*

# End application ignores